/*
			====		 ==		======	=====		==
			==	==   ==			==		==			==
			==	 ==  ==			==		=====		==
			==		== ==			==		==			==
			==			===		======	=====		======

			==	 ==		====== ===		== ===     == ======  ======== ==		==
			==  ==		==		 == =		== == =    == ==			======== ==   ==
			== ==			==     == ==	== ==  ==  == ==				 ==    ==   ==
			=====			====== ==  ==	== ==   == == ======     ==    =======
 			==	==		==     ==   ==== ==    ==== ==         ==    ==		==
			==	 ==		=====  ==    === ==     === ======     ==    ==		==
*/
@font-face {
	src: url("../fonts/sao.otf");
	font-family: sao;
}
@font-face {
	src: url("../fonts/alo.otf");
	font-family: alo;
}
body {
	font-family: sao;
	background:url('../img/aincrad.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0;
}

p {
	letter-spacing: 1px;
}
a {
	text-decoration: none;
	color: #000000;
}

/**** START OF INDEX(HOME) PAGE ****/
/******** Header **********/
		h1#logo {
			font-size: 350%;
			letter-spacing: .5em;
		}
		h1#logo:hover {
			font-size: 350%;
			letter-spacing: .5em;
			color: #FFA500;
		}
		div#navbar {
			background-color: #FFA500;
			margin-bottom: 25px;
		}
		div#navbar ul {
			padding: 7px;
			margin: 0px;
			text-align: left;
		}
		div#navbar li {
			display: inline-block;
			text-align: center;
		}
		div#navbar li a {
			text-decoration: none;
			font-size: 25px;
			padding: 15px 15px 5px 15px;
			margin: 15px;
			letter-spacing: 3px;
			font-weight: normal;
			margin-bottom: -5px;
			color: #CCCCCC;
		}
		div#navbar li a:hover, div#navbar li a.active {
			border-bottom: 5px solid  #cc5200;
		}

/********************
		Featured  
*********************/

		div.featured_article {
			background-color: #FFA500;
			color: #CCCCCC;
			padding: 25px 0px;
			border-radius: 10px;
		}
		div.featured_article h2{
			font-family: alo;
			font-size: 30px;
			text-align: center;
			font-weight: normal;
			letter-spacing: 10px;
		}
		div.featured_article p {
			font-size: 20px;
			padding: 5px;
			text-align: justify;
		}
		.colorYellow {
			color: #FFCC00;
		}
		div.featured_article  a {
			text-decoration: none;
			color: #FFA500;
			font-style: italic;
		}
		div.featured {
			text-align: center;
			background-color: #CCCCCC;
			border-radius: 10px;
		}
		img.featuredPic {
			height: 250px;
			width: 280px;
			padding: 10px;
		}
		img.featuredText {
			height: 250px;
			width: 280px;
			padding: 10px;
		}
		div.sections {
			margin-top: 25px;
			padding: 10px;
			margin-bottom: 25px;
			border-top: 10px solid #FFA500;
			border-bottom: 10px solid #FFA500;
			text-align: center;
		}
		div.features1, div.features2, div.features3  {
			width: 250px;
			height: 250px;
			padding: auto;
			border-radius: 5px; 
		}
		div.features1 {
			background-image: url("../img/s1.png");
		}	
		div.features2 {
			background-image: url("../img/s2.png");
		}
		div.features3 {
			background-image: url("../img/s3.png");
		}
		div.features1:hover {
			background-image: url("../img/s1-2.png");
		}	
		div.features2:hover {
			background-image: url("../img/s2-2.png");
		}
		div.features3:hover {
			background-image: url("../img/s3-2.png");
		}
		div.sections h2 {
			font-size: 39px;
			letter-spacing: 5px;
		}
/********************
				 Credits   
*********************/
		.credits {
			padding-top: 25px;
		}
		.credits a {
			text-decoration: none;
			color: #003366;
		}
		.credits blockquote {
			background-color: #CCFFFF;
			padding: 15px 20px 15px 45px;
			margin: 0 0 20px;
			position: relative;
			font-size: 16px;
			line-height: 1.2em;
			color: #666;
			text-align: justify;
			border-left: 15px solid #FFA500;
			border-right: 2px solid #FFA500;
		}
		.credits blockquote::before {
			content: "\201C";
			font-family: Georgia, serif;
			font-size: 60px;
			font-weight: bold;
			color: #999;
			position: absolute;
			left: 10px;
			top: 5px;
		}

		.credits span {
			font-weight: bold;
			font-style: italic;
			letter-spacing: 2px;
		}

/**** END INDEX(HOME) PAGE ****/

/********************
**       Buttons    **
*********************/
.button, button, input {
    display: inline-block;
    margin: 3px 0 2px;
    padding: 10px;

    background: white;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 2px orange;

    font-family: sao;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}
button:hover, .button:hover, input:hover {
    background: orange;
    box-shadow: none;

    color: white;
}
button:active, .button:active, input:active, button:focus, input:focus {
    background: #E69500;
    box-shadow: none;
    outline: none;

    color: white;
}
.block.button, button.block {
    text-align: center;
}
/**** END Button ****/

/********************
**       Footer    **
*********************/
.footer {
	clear: both;
	overflow: hidden;
	background-color: #FFA500;
	color: oranje;
	padding: 15px 5px 5px 5px;
	margin-top: 20px;
	border-radius: 20px 0px 20px 0px;
	margin-bottom: 5px;
	}
.footer p {
	padding: 5px;
	margin-left: 10px;
	font-size: 16px;
}
.footer a {
	text-decoration: none;
	color: #FFCC00;
}
